@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  background-color: rgb(212, 212, 212);
  width: 5px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(96, 96, 96);
}

/* Palanquin Dark Font Family */
@font-face {
  font-family: "Palanquin Dark";
  src: url("../../public/assets/fonts/Palanquin-Dark/PalanquinDark-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../../public/assets/fonts/Palanquin-Dark/PalanquinDark-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../../public/assets/fonts/Palanquin-Dark/PalanquinDark-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../../public/assets/fonts/Palanquin-Dark/PalanquinDark-Bold.ttf");
  font-weight: 700;
}

/* Paytone One Font Family */
@font-face {
  font-family: "Paytone One";
  src: url("../../public/assets/fonts/Paytone-One/PaytoneOne-Regular.ttf");
  font-weight: 400;
}

/* Belanosima Font Family */
@font-face {
  font-family: "Belanosima";
  src: url("../../public/assets/fonts/Belanosima/Belanosima-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Belanosima";
  src: url("../../public/assets/fonts/Belanosima/Belanosima-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Belanosima";
  src: url("../../public/assets/fonts/Belanosima/Belanosima-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Playpi";
  src: url("../../public/assets/fonts/Platypi/Platypi-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Platypi Cursive";
  src: url("../../public/assets/fonts/Platypi/Platypi-Italic-VariableFont_wght.ttf");
}
